
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'diplome.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'diplome.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'diplome.anneeObtention' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="1" [disabled]="true" placeholder="{{'diplome.anneeObtention' | translate}}" [ngModel]="item.anneeObtention"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'diplome.type' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'diplome.type' | translate}}" autofocus  id="2" [ngModel]="item.type?.id">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'diplome.specialie' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'diplome.specialie' | translate}}" autofocus  id="3" [ngModel]="item.specialie">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'diplome.organisme' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'diplome.organisme' | translate}}" autofocus  id="4" [ngModel]="item.organisme">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'diplome.employee' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'diplome.employee' | translate}}" autofocus  id="5" [ngModel]="item.employee?.ppr">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



